@{
    ViewData["Title"] = "Cobradores - Administración";
    ViewData["MenuPrincipal-Cobrador"] = "active";

    bool MensajeValido = !string.IsNullOrEmpty(TempData["Success"]?.ToString());
    bool HayErrores = !string.IsNullOrEmpty(TempData["Error"]?.ToString());

}

@if (MensajeValido)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <div><i class="fa fa-check"></i></div>
        <strong>@TempData["Success"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (HayErrores)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div><i class="fa fa-check"></i></div>
        <strong>@TempData["Error"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<main>
    <div class="container">
        <div id="title-bar">
            <h1><i class="fa fa-user-secret d-lg-none"></i> Mantenimiento de Cobradores</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Eliminar Cobrador</h5>
                    </div>
                    <form asp-controller="Cobrador" asp-action="Eliminar" method="POST" novalidate>
                        <div class="card-body">

                            <h5 class="mb-3">¿Seguro que desea Eliminar este cobrador de manera Permanente?</h5>

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="Nombres" class="form-label mb-0">Nombres</label>
                                        <input type="text" class="form-control" placeholder="Nombre completo" value="@ViewData["Nombres"]" disabled />
                                    </div>
                                </div><!-- /col -->

                                <div class="col-12 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="Correo" class="form-label mb-0">Correo</label>
                                        <input type="text" class="form-control" placeholder="Correo electrónico" value="@ViewData["Correo"]" disabled />
                                    </div>
                                </div><!-- /col -->

                                <div class="col-12 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="Cedula" class="form-label mb-0">Cédula</label>
                                        <input type="text" class="form-control" placeholder="00100000001" value="@ViewData["Cedula"]" disabled />
                                    </div>
                                </div><!-- /col -->

                                <div class="col-12 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="Celular" class="form-label mb-0">Celular / Whatsapp</label>
                                        <input type="text" class="form-control" placeholder="WhatsApp" value="@ViewData["Celular"]" disabled />
                                    </div>
                                </div><!-- /col -->
                            </div><!-- /row -->
                        </div><!-- /body -->

                        <input type="hidden" name="ID" value="@ViewData["ID"]" />
                        <input type="hidden" name="Correo" value="@ViewData["Correo"]" />

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4 offset-3 col-md-3 offset-md-5">
                                    <a asp-controller="Cobrador" asp-action="Lista" class="btn btn-secondary w-100"
                                       data-bs-dismiss="modal">Atrás</a>
                                </div>
                                <div class="col-5 col-md-4">
                                    <button type="submit" class="btn btn-danger w-100">Eliminar</button>
                                </div>
                            </div><!-- /row -->
                        </div>
                    </form><!-- /form -->
                </div><!-- card -->
            </div><!-- col -->
        </div><!-- /row -->
    </div><!-- container -->
</main>
